[submodule "CoBundleMAP"]
	path = CoBundleMAP
	url = git@github.com:ShreyaKapoor18/CoBundleMAP.git
[submodule "gmwcs-solver"]
	path = gmwcs-solver
	url = git@github.com:ShreyaKapoor18/gmwcs-solver.git
[submodule "cookiecutter-latex-thesis"]
	path = cookiecutter-latex-thesis
	url = git@github.com:ShreyaKapoor18/cookiecutter-latex-thesis.git
[submodule "dyconnmap_exp"]
	path = dyconnmap_exp
	url = git@github.com:ShreyaKapoor18/dyconnmap_exp.git
[submodule "preprocessing"]
	path = preprocessing
	url = git@github.com:ShreyaKapoor18/preprocessing.git
